* {
    font-family: Helvetica;
    text-align: center;
}

.container {
    width: 900px;
    margin: 0px auto;
    border: 1px solid red;
}

.loader{
    width: 0px;
    height: 10px;
    background-color: red;
    transition: width 3s;
}

#percentage {
    color: red;
}


