@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: red;
    text-decoration: underline;
}


.main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    width: 1200px;
    height: 500px;
    justify-content: space-around;
    
}

.chart {
    width: 550px;
    height: 500px;
}


